{% extends 'destination/layout.html' %}
{% load static %}

{% block title %}Destination{% endblock %}

{% block content %}
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_4 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Semarang</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Wisata-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/blog/foto12.png' %}" alt="">
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="destination_details.html">
                                <h2>Goa Kreo</h2>
                            </a>
                            <p>Menariknya dari tempat wisata Goa Kreo, wisatawan selain melihat goa, aktivitas lain yang
                                bisa dilakukan adalah naik perahu, trekking, dan wisata kuliner di warung dan restoran
                                sekitar.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i>Kota Semarang</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i>Provinsi Jawa Tengah</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/blog/foto13.png' %}" alt="">
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="destination_details.html">
                                <h2>Dusun Semilir Eco Park</h2>
                            </a>
                            <p>Dusun Semilir Eco Park merupakan tempat wisata yang baru dibuka pada awal 2019 lalu.
                                bangunan di Dusun Semilir Eco Park didesain berbentuk ala stupa pada Candi Borobudur,
                                dengan bahan bangunan yang didominasi kayu.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i>Bawen, Semarang</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i>Provinsi Jawa Tengah</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/blog/foto14.png' %}" alt="">
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="destination_details.html">
                                <h2>Maron Mangrove Edupark</h2>
                            </a>
                            <p>Jika Moms dan keluarga mencari destinasi wisata alam untuk menyegarkan tubuh dan pikiran,
                                Pengunjung bisa jalan berkeliling menikmati indahnya suasana alam, atau juga berfoto</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> Kecamatan Tugu</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i>Provinsi Jawa Tengah</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/blog/foto15.png' %}" alt="">
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="destination_details.html">
                                <h2>Benteng Pendem Ambarawa</h2>
                            </a>
                            <p>Benteng dengan arsitektur Belanda yang Instagramable ini terletak di Bugisari, Lodoyong,
                                Kecamatan Ambarawa, Kabupaten Semarang. Selain mengambil foto dengan latar keren dan
                                eksotis, pengunjung juga bisa sekadar menikmati nuansa bangunan yang penuh sejarah ini.
                            </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i>Lodoyong, Ambarawa</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i>Provinsi Jawa Tengah</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/blog/foto16.png' %}" alt="">
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="destination_details.html">
                                <h2>Cimory On The Valley</h2>
                            </a>
                            <p>Destinasi wisata ini menawarkan pengalaman berwisata edukasi yang cocok untuk anak,
                                sekaligus berbelanja oleh-oleh khas Cimory.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i>Kabupaten Semarang</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i>Provinsi Jawa Tengah</a></li>
                            </ul>
                        </div>
                    </article>

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Wisata End-->

<div class="video_area video_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video_wrap text-center">
                    <h3>Wonderful Indonesia</h3>
                    <div class="video_icon">
                        <a class="popup-video video_play_button" href="https://www.youtube.com/watch?v=f59dDEk57i0">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}